.select-value {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-family: open-sans-regular, sans-serif;
  min-height: 52px;
  background-color: #fff;
  border: 1px solid #dadada;
  border-radius: 3px;
  padding: 7px 50px 7px 20px;
  transition: box-shadow 0.3s ease;
  outline: none;
}

.select-value-active {
  border-color: #64b65b;
  box-shadow: 0 0 0 1px #64b65b;
}

.select-list {
  position: absolute;
  background-color: #fff;
  width: 100%;
  border: 1px solid #ececec;
  max-height: 200px;
  overflow-y: auto;
  box-shadow: 0 12px 24px rgb(79 79 79 / 12%);
  margin: 8px 0 0 0;
  border-radius: 3px;
}

.list-wrapper {
  position: relative;
}
